$color-green-100: #52c77f;
$color-green-80:#41CF69;
$color-green-40:#E4FFEE;
$color-green: $color-green-100;
$color-red: #E4002B;
$color-orange: #FF8A00;
$color-yellow:#fec227;
$color-blue: #54D1ED ;
$color-blue-100: #E4002B;
$color-dark: #131A27;
$color-dark-40: #7D8491;
$color-dark-60: #817699;
$color-dark-80: #515B6C;  
$color-dark-90: #C2C9D3;
$color-gray-100: rgba(194, 201, 211, 0.35);
$color-gray-60: #817699;
$color-gray:  #F8F8FC;
$color-black: #253f8e;
$color-black-100: #253f8e;
$color-black-300: #f9f9f9;
$color-black-500: #0A6AA5;
$color-white: #ffffff;
$color-white-20: rgba(212, 214, 218, 0.35);
$background-dark: #263247;
$color-hover-sidebar-menu: #3b59b1;
$color-dark-100: #0E2B55;

 