<div class="body-content">
  <header>
    <div class="rowheader">
      <div #titlename aria-label="User Name" class="Subtitle2">
        Hola, Camila
      </div>
      <div>
        <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg" style="">
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M18.75 16.4062V11.1979C18.75 8 17.0521 5.32292 14.0625 4.61458V3.90625C14.0625 3.04167 13.3646 2.34375 12.5 2.34375C11.6354 2.34375 10.9375 3.04167 10.9375 3.90625V4.61458C7.95834 5.32292 6.25 7.98958 6.25 11.1979V16.4062L4.16667 18.4896V19.5312H20.8333V18.4896L18.75 16.4062ZM12.5 22.6562C13.6458 22.6562 14.5833 21.7188 14.5833 20.5729H10.4167C10.4167 21.7188 11.3542 22.6562 12.5 22.6562ZM8.33334 17.4479H16.6667V11.1979C16.6667 8.61458 15.0938 6.51042 12.5 6.51042C9.90626 6.51042 8.33334 8.61458 8.33334 11.1979V17.4479Z"
            fill="#54D1ED" />
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M18.75 16.4062V11.1979C18.75 8 17.0521 5.32292 14.0625 4.61458V3.90625C14.0625 3.04167 13.3646 2.34375 12.5 2.34375C11.6354 2.34375 10.9375 3.04167 10.9375 3.90625V4.61458C7.95834 5.32292 6.25 7.98958 6.25 11.1979V16.4062L4.16667 18.4896V19.5312H20.8333V18.4896L18.75 16.4062ZM12.5 22.6562C13.6458 22.6562 14.5833 21.7188 14.5833 20.5729H10.4167C10.4167 21.7188 11.3542 22.6562 12.5 22.6562ZM8.33334 17.4479H16.6667V11.1979C16.6667 8.61458 15.0938 6.51042 12.5 6.51042C9.90626 6.51042 8.33334 8.61458 8.33334 11.1979V17.4479Z"
            fill="url(#paint0_linear)" fill-opacity="0.4" style="mix-blend-mode:multiply" />
          <defs>
            <linearGradient id="paint0_linear" x1="12.5" y1="2.34375" x2="12.5" y2="22.6562"
              gradientUnits="userSpaceOnUse">
              <stop stop-color="#2C52D8" stop-opacity="0" />
              <stop offset="1" stop-color="#2C52D8" />
            </linearGradient>
          </defs>
        </svg>
      </div>
    </div>
  </header>

  <main>
    <section class="first-section">
      <div #cardmenublue class="blue-line-background blue-card">
        <p class="Subtitle2 text-white"> Eres estratega </p>
        <img src="../assets/images/imgsection1-card.png" alt="" class="img-card-section1">
        <div class="item-s Normal2 text-white" aria-label="balance">Tu saldo</div>
        <div class="item-s Value text-white" aria-label="amount">$1.570.000</div>
      </div>
    </section>

    <section class="second-section">
      <div class="row-element">
        <div class="Normal1">
          Inversión
        </div>
        <div class="Normal2" aria-label="investment">
          $1.600.000
        </div>
      </div>
      <div class="row-element2">
        <div class="Normal1">
          Rendimiento
        </div>
        <div class="Normal2" aria-label="financial performances">
          -$30.000
        </div>
      </div>
    </section>

    <section class="third-section">
      <div class="rowheader">
        <div aria-label="Your goals" class="Subtitle2 aling-left">
          Tus metas
        </div>
        <div>
          <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd"
              d="M12.5 2.08334C6.75 2.08334 2.08333 6.75001 2.08333 12.5C2.08333 18.25 6.75 22.9167 12.5 22.9167C18.25 22.9167 22.9167 18.25 22.9167 12.5C22.9167 6.75001 18.25 2.08334 12.5 2.08334ZM11.4583 7.29168V11.4583H7.29166V13.5417H11.4583V17.7083H13.5417V13.5417H17.7083V11.4583H13.5417V7.29168H11.4583ZM4.16666 12.5C4.16666 17.0938 7.90624 20.8333 12.5 20.8333C17.0937 20.8333 20.8333 17.0938 20.8333 12.5C20.8333 7.90626 17.0937 4.16668 12.5 4.16668C7.90624 4.16668 4.16666 7.90626 4.16666 12.5Z"
              fill="#54D1ED" />
            <path fill-rule="evenodd" clip-rule="evenodd"
              d="M12.5 2.08334C6.75 2.08334 2.08333 6.75001 2.08333 12.5C2.08333 18.25 6.75 22.9167 12.5 22.9167C18.25 22.9167 22.9167 18.25 22.9167 12.5C22.9167 6.75001 18.25 2.08334 12.5 2.08334ZM11.4583 7.29168V11.4583H7.29166V13.5417H11.4583V17.7083H13.5417V13.5417H17.7083V11.4583H13.5417V7.29168H11.4583ZM4.16666 12.5C4.16666 17.0938 7.90624 20.8333 12.5 20.8333C17.0937 20.8333 20.8333 17.0938 20.8333 12.5C20.8333 7.90626 17.0937 4.16668 12.5 4.16668C7.90624 4.16668 4.16666 7.90626 4.16666 12.5Z"
              fill="url(#paint0_linear)" fill-opacity="0.4" style="mix-blend-mode:multiply" />
            <defs>
              <linearGradient id="paint0_linear" x1="12.5" y1="2.08334" x2="12.5" y2="22.9167"
                gradientUnits="userSpaceOnUse">
                <stop stop-color="#2C52D8" stop-opacity="0" />
                <stop offset="1" stop-color="#2C52D8" />
              </linearGradient>
            </defs>
          </svg>
        </div>
      </div>
      <br>

      <div class="minicards ">
        <div class="minicards3 card-shadow-soft">
          <img src="../assets/images/palmera.png" class="img-goals" alt="">
          <span class="Normal2 text-gray-60 text-card aling-left"> Viaje a Islas Canarias </span>
          <div class="row-foot-card">
            <div class="circle-progress">
              <div class="radialProgressBar progress-20">
                <div class="overlay text-blue" aria-label="percent of travel">20%</div>
              </div>
            </div>
            <div>
              <p class="Caption2 text-blue-gradient has-magin-0"> $1.630.000 </p>
              <p class="Menu1 has-magin-0"> $8.000.000 </p>
            </div>
          </div>
        </div>
        <div class="minicards3 card-shadow-soft">
          <img src="../assets/images/pc.png" class="img-goals" alt="">
          <span class="Normal2 text-gray-60 text-card"> Macbook Pro </span>
          <div class="row-foot-card">
            <div class="circle-progress">
              <div class="radialProgressBar progress-0">
                <div class="overlay text-blue" aria-label="percent of macbook">0%</div>
              </div>
            </div>
            <div>
              <p class="Caption2 text-blue-gradient has-magin-0"> $0 </p>
              <p class="Menu1 has-magin-0"> $7.000.000 </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="fourth-section">
      <div class="rowheader">
        <div aria-label="know your briefcase" class="Subtitle2 aling-left">
          Conoce tu portafolio
        </div>
        <div>
          <button class="  btn-round succes-soft" type="button">
            <p class="btn-g Menu2 succes "> Estratega </p>
          </button>
        </div>
      </div>

      <div class="portfolio-view card-shadow-soft has-background-white row-foot-card has-margin-top-20">
        <div>

          <!-- <canvas baseChart  height="140" width="140"
            [datasets]="datasets"
            [chartType]="doughnutChartType">
          </canvas> -->
          <div class="round-container">
            <svg height="300" viewBox="0 0 300 300">
              <path d="M206.00,150.00A56,56,0,0,1,196.82,180.72L186.79,174.14A44,44,0,0,0,194.00,150.00Z"
                style="fill:rgba(88, 80, 107, 0.7);stroke:none"></path>
              <path d="M195.30,182.92A56,56,0,0,1,169.82,202.37L165.58,191.15A44,44,0,0,0,185.60,175.86Z"
                style="fill:rgba(88, 80, 107, 0.6);stroke:none"></path>
              <path d="M167.30,203.26A56,56,0,0,1,135.25,204.02L138.41,192.45A44,44,0,0,0,163.60,191.85Z"
                style="fill:rgba(88, 80, 107, 0.5);stroke:none"></path>
              <path d="M132.70,203.26A56,56,0,0,1,106.32,185.04L115.68,177.53A44,44,0,0,0,136.40,191.85Z"
                style="fill:rgba(88, 80, 107, 0.4);stroke:none"></path>
              <path d="M104.70,182.92A56,56,0,0,1,94.064,152.67L106.05,152.10A44,44,0,0,0,114.40,175.86Z"
                style="fill:rgba(88, 80, 107, 0.3)"></path>
              <path d="M94.000,150.00A56,56,0,0,1,103.18,119.28L113.21,125.86A44,44,0,0,0,106.00,150.00Z"
                style="fill:rgba(88, 80, 107, 0.2);stroke:none"></path>
              <path d="M104.70,117.08A56,56,0,0,1,130.18,97.626L134.42,108.85A44,44,0,0,0,114.40,124.14Z"
                style="fill:rgba(88, 80, 107, 0.1);stroke:none"></path>
              <path d="M132.70,96.741A56,56,0,0,1,164.75,95.977L161.59,107.55A44,44,0,0,0,136.40,108.15Z"
                style="fill:#41CF69;stroke:none"></path>
              <path d="M167.30,96.741A56,56,0,0,1,193.68,114.96L184.32,122.47A44,44,0,0,0,163.60,108.15Z"
                style="fill:rgba(88, 80, 107, 0.9);stroke:none"></path>
              <path d="M195.30,117.08A56,56,0,0,1,205.94,147.33L193.95,147.90A44,44,0,0,0,185.60,124.14Z"
                style="fill:rgba(88, 80, 107, 0.8);stroke:none"></path>
            </svg>
          </div>
          <img src="../assets/images/mrobot.png" class="inner" alt="">
          <p class="Menu1 innerp has-magin-0">RoboAdvisor</p>
          <p class="Caption1 inner2 has-magin-0">10 Fondos</p>
        </div>
        <div>
          <div class="row-top-logo">
            <img src="../assets/images/skandia.png" class=" " alt="">
            <span class="btn-topg Menu2 bg-green text-white">15%</span>
          </div>
          <div class="inner3">
            <span class="Caption1"> FIC Old Mutual Efectivo </span>
            <span class="Caption2"> $240.000 </span>
            <span class="Caption2 succes">Tipo de activo </span>
            <span class="Menu1 aling-left"> Renta fija <br> Depósito a la fija</span>
          </div>
          <div class="row-arrows">
            <span class="material-icons gray-color">
              chevron_left
            </span>
            <span class="material-icons gray-color">
              chevron_right
            </span>
          </div>

        </div>
      </div>
      <div class="footer-card">
        <p class="Menu1">Tu dinero se invierte de la forma más eficiente de acuerdo al perfil de riesgo asignado por
          nuestro RoboAdvisor.</p>
      </div>
    </section>

    <section class="fifth-section">
      <div class="rowheader">
        <div class="Subtitle2 aling-left">
          Los P*t@s del ahorro
        </div>
      </div>
      <div class="media-view card-shadow-soft has-background-white row-foot-card has-margin-top-20">
        <span class="material-icons playbtn">
          play_circle_outline
        </span>
        <img src="../assets/images/Vector6.png" class="vectorclass " alt="">
        <span class="title2 text-white media-text"> Esto es AHORRO </span>
        <span class="Caption1 text-white media-text2">Conoce como nuestro RoboAdvisor crea el mejor portafolio de
          inversión para ti.</span>
      </div>
      <div class="dots">
        <div class="dot-on"></div>
        <div class="dot-off"></div>
        <div class="dot-off"></div>
      </div>
    </section>
    <br> <br> <br> <br>
    <section class="fifth-section round-content">
      <div class="row-media">
        <div #item1>
          <p class="Normal1 media-item-title"> 10 gastos que debes evitar </p>
          <p class="Menu1 media-item-text aling-left"> Aunque el 66% de los adultos recibió educación para el ahorro,
            apenas el 44% ahorra de manera fomal. </p>
        </div>
        <div #media1>
          <img src="../assets/images/media1.png" class="  " alt="">
        </div>
      </div>
      <hr>
      <div class="row-media">
        <div #item2>
          <p class="Normal1 media-item-title"> 10 gastos que debes evitar </p>
          <p class="Menu1 media-item-text aling-left"> Aunque el 66% de los adultos recibió educación para el ahorro,
            apenas el 44% ahorra de manera fomal. </p>
        </div>
        <div #media2>
          <img src="../assets/images/media2.png" class="  " alt="">
        </div>
      </div>
      <hr>
      <div class="row-media">
        <div #item3>
          <p class="Normal1 media-item-title"> 10 gastos que debes evitar </p>
          <p class="Menu1 media-item-text aling-left"> Aunque el 66% de los adultos recibió educación para el ahorro,
            apenas el 44% ahorra de manera fomal. </p>
        </div>
        <div #media3>
          <img src="../assets/images/media3.png" class="  " alt="">
        </div>
      </div>

    </section>
  </main>
 
  <footer>
    <div class="footer-content">
      <div class="pancake">
        <span class="material-icons icon-active">
          home
        </span>
        <div  class="text-blue-gradient text-footer" >
          Inicio
        </div>
      </div>
      <div class="pancake">
        <span class="material-icons text-gray-60 icon-foot">
          format_list_bulleted
        </span>
        <div  class="text-gray-60-gradient text-footer" >
          Historial
        </div>
      </div>
      <div class="pancake">
        <span class="material-icons text-blue icon-large-over">
          add_circle
        </span>
        <div  class="text-gray-60-gradient text-footer text-foot-rel" >
          Ahorrar
        </div>
      </div>
      <div class="pancake">
        <span class="material-icons text-gray-60 icon-foot">
          account_circle
        </span>
        <div  class="text-gray-60-gradient text-footer" >
          Mi perfil
        </div>
      </div>
      <div class="pancake">
        <span class="material-icons text-gray-60 icon-foot">
          more_horiz
        </span>
        <div  class="text-gray-60 text-footer" >
          Más
        </div>
      </div>

    
    </div>

  </footer>
</div>